{%- capture seo_title -%}
{%- if request.page_type == 'search' and search.performed == true -%}
    Search {{ search.results_count }}: {{ search.terms }}
{%- else -%}
    {{ page_title }}
{%- endif -%}
{%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; Tagged "{{ meta_tags }}"
{%- endif -%}
{%- if current_page != 1 -%}
    &ndash; Page {{ current_page }}
{%- endif -%}
{%- assign escaped_page_title = page_title | escape -%}
{%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
{%- endunless -%}
{%- endcapture -%}
<title>{{ seo_title | strip }}</title>