{% comment %}
    Renders a video embed or native html5 video.

    Accepts:
    - url: {String} URL of the video to be rendered.
    - poster: {Image} Shopify image object for the poster frame.
    - autoplay: {Boolean} Enable autoplay for the video.
    - loop: {Boolean} Loops the video after playback finishes.
    - is_hero: {Boolean} Set to true if the video has overlaying content.
    - classes: {String} add custom classes to the video-element.
    - iframe_classes: {String} add custom classes to the iframe element.
    - button_classes: {String} add custom classes to the play icon container.
    - image_classes: {String} add custom classes to the img element.
    - attributes: {String} add custom attributes to the video-element.
    - color_scheme: {Setting} - the section color scheme value

    Usage:
    {% render 'armament-video' with url: section.settings.url, content: section.settings.button_label, style: section.settings.button_style, classes: 'mb-xl' %}
{% endcomment %}

{% liquid
  if autoplay == blank
    assign autoplay = false
  endif

  if is_hero
    assign autoplay = true
  endif

  assign poster_width = poster.preview_image.width | times: 1.0
  assign poster_height = poster.preview_image.height | times: 1.0
  assign poster_aspect = poster_width | divided_by: poster_height 
%}

<video-element
  url="{{ url }}"
  poster="{{ poster | json | escape }}"
  autoplay="{{ autoplay }}"
  class="block relative overflow-hidden{% if classes %} {{ classes }}{% endif %}"
  {% unless is_hero %}
    {%- if poster != blank %}
      style="padding-top: {{ 1 | divided_by: poster_aspect | times: 100 }}%"
    {% else %}
      style="padding-top: {{ 1 | divided_by: 1.7777778 | times: 100 }}%"
    {% endif -%}
  {% endunless %}
  {% if attributes %} {{ attributes }}{% endif %}
  {% if is_hero %}data-is-hero="true"{% endif %}
>
  <button
    type="button"
    class="grid grid-cols-1 max-w-full absolute inset-0 h-full w-full"
    data-action="play"
    data-aid="video-play"
    aria-label="{{ 'products.product.media.play_video' | t }}"
  >
    <div class="z-10 h-full w-full grid place-content-center text-body{% if button_classes %} {{ button_classes }}{% endif %}" style="grid-area: 1 / 1 / 2 / 2"><div tabindex="0" class="min-w-[44px] min-h-[44px] flex justify-center items-center" data-armada-animation="icon">{% render 'armament-icon' with icon: 'play', width: 44, height: 44 %}</div></div>
    <div class="z-0 h-full w-full grid place-items-center" style="grid-area: 1 / 1 / 2 / 2" data-armada-animation="image-load-on-scroll">
      {%- if poster == blank %}
        {% render 'armament-placeholder' with name: 'lifestyle-1', classes: 'h-full object-cover' %}
      {% else %}
        {% render 'armament-image' with image: poster, classes: image_classes %}
      {% endif -%}
    </div>
  </button>
  <template>
    {%- if url contains 'youtube.com' or url contains 'youtu.be' %}
      {% assign video_id = url | replace: "https://www.youtube.com/watch?v=", "" | replace: "https://youtu.be/", "" | replace: "https://www.youtube.com/embed/", "" %}
      <iframe id="player" src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&modestbranding=1&playsinline=1&rel=0&playlist={{ video_id }}{% unless is_hero %}{% if autoplay %}&autoplay=1{% endif %}{% if loop %}&loop=1{% endif %}{% endunless %}" loading="lazy" class="{% if iframe_classes %}{{ iframe_classes }}{% endif %} js-youtube block z-10 max-w-full absolute inset-0 h-full w-full" allow="autoplay; encrypted-media" allowfullscreen data-aid="video-youtube-iframe" {% if video_id %}data-video-id="{{ video_id }}"{% endif %} data-armada-selector="youtube-iframe"></iframe>
    {% elsif url contains 'vimeo.com' %}
      {% assign video_id = url | split: "/" | last %}
      <iframe src="https://player.vimeo.com/video/{{ video_id }}?playsinline{% unless is_hero %}{% if autoplay %}&autoplay=1{% endif %}{% if loop %}&loop=1{% endif %}{% endunless %}{% if is_hero %}&background=1{% endif %}" loading="lazy" class="{% if iframe_classes %}{{ iframe_classes }}{% endif %} js-vimeo block z-10 max-w-full absolute inset-0 h-full w-full" allow="autoplay; encrypted-media" allowfullscreen data-aid="video-vimeo-iframe" {% if video_id %}data-video-id="{{ video_id }}"{% endif %} data-armada-selector="vimeo-iframe"></iframe>
    {% else %}
      <video controls playsinline{% unless is_hero %}{% if autoplay %} autoplay{% endif %}{% if loop %} loop{% endif %}{% endunless %} class="{% if iframe_classes %}{{ iframe_classes }}{% endif %} block max-w-full absolute inset-0 h-full w-full" data-aid="video-mp4-native" data-armada-selector="mp4-video" data-video-id="{{ url }}">
        <source src="{{ url }}" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    {% endif -%}

    <div
      data-name="video-overlay"
      data-aid="video-overlay"
      class="block max-w-full absolute inset-0 h-full w-full z-30"
    ></div>

  </template>
</video-element>

<safe-load-scripts>
  <script src="{{ 'component-video.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="component-video"></script>
</safe-load-scripts>
