{% comment %}
    Renders slider navigation arrows.
    Accepts:
    - hide_on_mobile: {Boolean} Set to true to hide arrows on mobile (defaults to false)
    - border: {Boolen} Set to true to add a border to the arrows (defaults to false)
    - vertical_position_classes: {String} Optional classes for custom vertical position relative to slider eg. 'top-s translate-x-1/2'
    - left_position_classes: {String} Optional classes for custom position of previous arrow relative to slider eg. '-left-2'
    - right_position_classes: {String} Optional classes for custom position of next arrow relative to slider eg. '-right-2'
    - classes: {String} Custom classes to be applied to the arrows
    - attributes: {String} Attributes to be applied to the arrows

    Usage:
    {% render 'armament-slider-arrows' with hide_on_mobile: true, border: true, classes: arrow_classes %}
{% endcomment %}

{%- liquid
  assign arrow_classes = 'absolute bg-page text-body w-11 h-11 overflow-hidden flex items-center z-10 cursor-pointer '

  if hide_on_mobile
    assign arrow_classes = arrow_classes | append: 'hidden md:flex '
  endif

  if border
    assign arrow_classes = arrow_classes | append: 'border '
  endif

  if vertical_position_classes
    assign arrow_classes = arrow_classes | append: vertical_position_classes | append: ' '
  else
    assign arrow_classes = arrow_classes | append: 'top-1/2 -translate-x-1/2 '
  endif

  if classes
    assign arrow_classes = arrow_classes | append: classes
  endif

  assign prev_classes = left_position_classes | default: 'left-0 -translate-x-1/2'
  assign next_classes = right_position_classes | default: 'right-0 translate-x-1/2'
-%}

<button
  data-icon-type="prev"
  data-name="icon-prev"
  class="justify-end {{ prev_classes }} {{ arrow_classes }}"
  data-armada-animation="fade"
  aria-label="Go to previous slide"
  {% if attributes %}{{ attributes }}{% endif %}
>
  <div class="w-11 h-11 flex items-center justify-center shrink-0" data-armada-animation="arrow">
    {% render 'armament-arrow' with icon: 'arrow-right', direction: 'left' %}
  </div>
</button>
<button
  data-icon-type="next"
  data-name="icon-next"
  class="justify-start {{ next_classes }} {{ arrow_classes }}"
  data-armada-animation="fade"
  aria-label="Go to next slide"
  {% if attributes %}{{ attributes }}{% endif %}
>
  <div class="w-11 h-11 flex items-center justify-center shrink-0" data-armada-animation="arrow">
    {% render 'armament-arrow' with icon: 'arrow-right' %}
  </div>
</button>
