{% comment %}
    Renders an input.
    Accepts:
    - has_label: {Boolean} use if the input should be accompanied by a label
    - animate_label: {Boolean} use if you want to animate label on input focus
    - label_text: {String} the text to display as the label
    - label_class: {String} any custom classes for the label element
    - container_classes: {String} add custom classes to the container (only works if animated)
    - type: {String} sets the value of the type attribute. If none is specified, the type will be 'text' by default.
    - id: {String} ID to be applied to the input
    - classes: {String} custom classes to be applied to the input (optional)
    - value: {String} the input value (optional)
    - min: {Number} The minimum value allowed when using a number input (required)
    - max: {Number} The maximum value allowed when using a number input (required)
    - placeholder: {String} use if you want to show placeholder text for the input (required only if animate_label is true)
    - name: {String} the name attribute of the input
    - attributes: {String} add custom element attributes (data-* or aria)
    - required: {Boolean} use if the input cannot be submitted unless a value is provided
    - data_aid: {String} this will apply to the input element (will have a default value if left blank)
    - checked: {Boolean} determines whether the input is checked
    - disabled: {Boolean} determines whether the input is disabled

    Usage:
      {% render 'armament-input' with type: 'email', id: 'yellow', classes: 'py-l', value: 'email', placeholder: 'Enter email address', name: 'contact[email]'', attributes: 'aria-label="email address"', required: true, has_label: true %}

    Usage with animate_label:
      {% render 'armament-input' with has_label: true, animate_label: true, label_text: "Label text", id: "name", placeholder: "name", classes: "w-full", value: form.author, name: "name", attributes: name-attributes, required: true %}
{% endcomment %}

{% capture label %}
  <label class="font-heading heading-font-styles{% if disabled %} opacity-30 {% endif %}{% if label_class %} {{ label_class }}{% endif %}" for="{{ id }}"{% if animate_label %} animate-label data-armada-animation="general" aria-hidden="true"{% endif %}{% if label_attributes %} {{ label_attributes }}{% endif %}>{{ label_text }}</label>
{% endcapture %}

{% unless animate_label %}
  {% if has_label %}
    {{ label }}
  {% endif %}
{% endunless %}

{% if animate_label %}
  {% if type == 'email' %}
    <validate-email class="relative flex{% if container_classes %} {{ container_classes }}{% endif %}">
  {% else %}
    <div class="relative flex{% if container_classes %} {{ container_classes }}{% endif %}">
  {% endif %}
  {% assign placeholder = placeholder %}
{% else %}
  {% if type == 'email' %}
    <validate-email class="relative flex{% if container_classes %} {{ container_classes }}{% endif %}">
  {% endif %}
{% endif %}

<input
  type="{{ type | default: "text" }}"
  name="{{ name }}"
  placeholder="{{ placeholder }}"
  class="bg-page border-theme rounded-theme{% if classes %} {{ classes }}{% endif %}"
  {% if animate_label %}animate-label{% endif %}
  {% if id %}id="{{ id }}"{% endif %}
  {% if value %}value="{{ value }}"{% endif %}
  {% if attributes %}{{ attributes }}{% endif %}
  {% if required %}required="required"{% endif %}
  {% if type == 'number' or type == 'range' %}min="{{ min }}" max="{{ max }}"{% endif %}
  {% if data_aid %}data-aid="{{ data_aid }}"{% else %}data-aid="armament-input"{% endif %}
  {% if checked %}checked{% endif %}
  {% if disabled %}disabled{% endif %}
>

{% if has_label and animate_label == true %}
  {{ label }}
{% endif %}

{% if has_label and animate_label %}
  {% if type == 'email' %}
    </validate-email>
  {% else %}
    </div>
  {% endif %}
{% else %}
  {% if type == 'email' %}
    </validate-email>
  {% endif %}
{% endif %}

<safe-load-scripts>
  <script src="{{ 'engine-validate-email.min.js' | asset_url }}" defer="defer" type="module"></script>
</safe-load-scripts>
