{% comment %}
    Renders a "noscript" collection grid.

    Accepts:
    - collection: {Object} Shopify collection
    - products_per_row: {Object} Shopify setting value (number of products per row on desktop)
    - products_per_row_mobile: {Object} Shopify setting value (number of products per row on mobile)
    - has_pagination (optional): {Boolean} set to true if the grid needs pagination
    - pagination_type (optional): {Object} Shopify setting value (paged navigation/load more)
    - show_view_all (optional): {Boolean} Set to true to show a 'view all' button
    - products_per_page: {Object} Shopify setting value
    - grid_container_classes: {String} add custom classes to the grid container
    - grid_section {Object} the section where the snippet is rendered (required)

    Usage:
    {% render 'flotilla-collection-grid' with collection: collection, products_per_row: section.settings.products_per_row %}
{% endcomment %}

{%- capture get_blocks -%}
  {%- for block in section.blocks -%}
    {{ block.type | lstrip }}{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}

{% liquid

  case products_per_row
    when 1
      assign desktop_grid = ' md:grid-cols-1'
    when 2
      assign desktop_grid = ' md:grid-cols-2'
    when 3
      assign desktop_grid = ' md:grid-cols-3'
    when 4
      assign desktop_grid = ' md:grid-cols-4'
    when 5
      assign desktop_grid = ' md:grid-cols-5'
  endcase

  case products_per_row_mobile
    when '1'
      assign mobile_grid = 'grid-cols-1'
    when '2'
      assign mobile_grid = 'grid-cols-2'
  endcase

  assign grid_class = 'grid items-start justify-items-center gap-2.5 ' | append: mobile_grid | append: desktop_grid


  assign view_all_btn = 'templates.collection.view_all' | t
  assign view_all_aria = 'aria-label="' | append: view_all_btn | append: '"'
%}

<div class="collection-grid-main block w-full lg:px-3xl py-2xl{% if grid_container_classes %} {{ grid_container_classes }}{% endif %}"
  data-armada-selector="collection-grid-main"
  data-section-id="{{ section.id }}"
>
  {% if collection.products.size == 0 %}
    <div class="flex flex-col items-center p-2xl lg:p-3xl">
      <span class="text-body bg-page text-h5">{{ 'templates.collection.empty' | t }}</span>
      <span class="text-body bg-page text-h5">{{ 'templates.collection.use_fewer_filters_html' | t: link: collection.url, class: "underline" }}</span>
    </div>
  {% else %}
    {% if has_pagination %}
      {% paginate collection.products by products_per_page %}
        <div class="{{ grid_class }}">
          {% for product in collection.products %}
            {% render 'ship-product-card-noscript' with card_section: grid_section, card_product: product, gallery: settings.collection_hover_effect %}
          {% endfor %}
        </div>

        {% if show_view_all == true %}
          <div class="w-full flex items-center justify-center pt-2xl">
            {% render 'armament-button' with url: collection.url, content: view_all_btn, attributes: view_all_aria, classes: 'max-w-200' %}
          </div>
        {% endif %}

        {% if has_pagination and paginate.pages > 1 %}
          {% if pagination_type and pagination_type == 'paged' %}
            {% render 'ship-pagination' with paginate: paginate %}
          {% else %}
            {% render 'ship-pagination-load-more' with paginate: paginate, product_count: products_per_page %}
          {% endif %}
        {% endif %}
      {% endpaginate %}
    {% else %}
      <div class="{{ grid_class }}">
        {% for product in collection.products limit: products_per_page %}
          {% render 'ship-product-card-noscript' with card_section: grid_section, card_product: product, gallery: settings.collection_hover_effect %}
        {% endfor %}
      </div>

      {% if show_view_all == true %}
        <div class="w-full flex items-center justify-center pt-2xl">
          {% render 'armament-button' with url: collection.url, content: view_all_btn, attributes: view_all_aria, classes: 'max-w-200', data_aid: 'collection-view-all-button' %}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
