{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
{% endcomment %}

{% if paginate.parts.size > 0 %}
  {% liquid
    assign page_translation = 'general.pagination.page' | t: number: paginate.part.title
    assign btn_attributes = 'aria-label="' | append: page_translation | append: '"'
    assign btn_attributes_current = 'aria-label="' | append: page_translation | append: ' disabled="disabled"'
  %}
  <div class="flex w-full justify-center items-center col-span-full theme-section-padding !pb-0">
    <ul class="flex items-center justify-center flex-wrap" data-aid="pagination-container">
      {% if paginate.previous %}
      <li class="mt-l flex items-center h-[50px] group">
        <a href="{{ paginate.previous.url }}" data-armada-animation="arrow">
          {% render 'armament-arrow' with icon: 'arrow-right', direction: 'left' %}
        </a>
      </li>
      {% endif %}

      {%- for part in paginate.parts -%}
        {% assign page_translation = 'general.pagination.page' | t: number: part.title %}
        <li class="px-s mt-l flex items-center">
          {%- if part.is_link -%}
            {% assign pagination_aid = 'pagination-button-' | append: part.title %}
            <a 
              href="{{ part.url }}"
              aria-label="{{ page_translation }}"
              class="border border-theme rounded-theme py-s px-l"
              data-aid="{{ pagination_aid }}"
              data-armada-animation="swatch"
            >
              {{ part.title }}
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <div class="border-selected rounded-theme min-h-11 min-w-11 flex items-center">
                <span class="py-s px-l">{{ part.title }}</span>
              </div>
            {%- else -%}
              <span>{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {% if paginate.next %}
        <li class="mt-l flex items-center h-[50px] group">
          <a href="{{ paginate.next.url }}" data-armada-animation="arrow">
            {% render 'armament-arrow' with icon: 'arrow-right' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}