{% comment %}
    Renders a preview of all badges

    Accepts:
    - badge_section: {Object} required.

    Usage:
      {% render 'ship-badge-preview-multiple' with badge_section: section %}
{% endcomment %}

{% assign classes = 'bg-page text-body px-l py-s leading-none w-max font-heading heading-font-styles rounded-tr-theme rounded-br-theme' %}

<armada-modal
  data-modal-id="{{ badge_section.id }}"
  data-content-width="true"
  data-modal-dismissable="false"
  data-modal-underlay-classes="bg-black opacity-60"
  data-color-scheme="general"
  data-modal-max-width="max-w-small"
  class="invisible opacity-0"
  data-has-multiple-modals="true"
  data-show-in-theme-editor="true"
>
  <div class="grid grid-rows-[repeat(3,minmax(0,auto))] grid-cols-[minmax(0,auto)] p-xl bg-page text-body max-w-max">
    <div class="row-start-1 row-end-4 col-start-1 col-end-2 w-[250px] h-[375px]">
      {% if collections.all.products[0].featured_media.preview_image %}
        {% render 'armament-image' with image: collections.all.products[0].featured_media.preview_image, classes: 'object-cover !h-full' %}
      {% else %}
        {% render 'armament-placeholder' with name: 'product-1' %}
      {% endif %}
    </div>
    <div class="flex flex-col row-start-1 row-end-2 col-start-1 col-end-2 max-w-max mt-s md:mt-l">
      {% for block in badge_section.blocks limit: badge_section.settings.num_badges %}
        {% case block.type %}
          {% when 'badge_sold_out' or 'badge_sale' %}
            <div data-section-id="{{ section.id }}" data-color-scheme="{{ block.settings.badge_color_scheme }}" class="{{ classes }}">
              <span>{{ block.settings.badge_text }}</span>
            </div>
          {% when 'badge_custom' %}
            {% assign badgeText = block.settings.badge_text %}
            {% assign hasExistingMetafield = false %}

            {% for badgeProduct in collections.all.products %}
              {% for badge in badgeProduct.metafields.badges %}
                {% if badge.first == badgeText %}
                  {% assign hasExistingMetafield = true %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% if hasExistingMetafield %}
              <div data-section-id="{{ section.id }}" data-color-scheme="{{ block.settings.badge_color_scheme }}" class="{{ classes }}">
                <span>{{ block.settings.badge_text }}</span>
              </div>
            {% else %}
              <div data-section-id="{{ section.id }}" data-color-scheme="{{ block.settings.badge_color_scheme }}" class="{{ classes }}">
                <span>Error: Metafield not found</span>
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</armada-modal>