{% comment %}
    Renders a collage gallery for product images.
    Accepts:
    - product_id {String} Shopify product ID.
    - media {Object} Shopify product media object
    - zoom_enabled {Boolean} set to true if zoom is enabled
    - loop_enabled {Boolean} set to true if video looping is enabled

    Usage:
    {% render 'ship-product-collage-gallery' with product_id: product.id, media: product.media, zoom_enabled: section.settings.enable_zoom %}
{% endcomment %}

<slider-engine
  mode="horizontal"
  visible-slides="1"
  mobile-indicator="true"
  arrows="false"
  auto-height="true"
  class="block relative overflow-hidden hover:overflow-visible focus-within:overflow-visible lg:-mr-xs"
  data-aid="product-collage-gallery"
  data-name="scrollbar-target"
  tabindex="0"
  product-id="{{ product.id }}"
  featured-image-id="{{ media[0].id }}"
>
  <div
    data-name="slider-wrap"
    class="relative overflow-hidden"
  >
    <ul
      data-name="slider"
      data-armada-animation="general"
      class="flex lg:flex-wrap product-collage-slider"
      role="list"
    >
      {% for media in media %}
        <li
          data-name="slide"
          class="relative min-w-full lg:min-w-0 lg:w-1/2 flex lg:flex-grow lg:p-xs lg:pb-xs place-content-center product-collage-slide lg:!h-auto{% unless forloop.first %} h-0{% endunless %}"
          type="{{ media.media_type }}"
          slide-num="{{ forloop.index }}"
          {% if media.id %}media-id="{{ media.id }}"{% endif %}
        >
          <div class="w-full grid"> {% comment %} You need this wrapper div so that Safari doesn't stretch the images to their attribute height :facepalm: {% endcomment %}
            {% render 'armament-product-media' with media: media, enable_zoom: zoom_enabled, enable_loop: loop_enabled, title: product.title, product_id: product.id %}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if settings.custom_badges %}
      <div class="absolute top-s lg:top-l left-0 lg:left-xs z-50 pointer-events-none">
        {% render 'engine-badges' with badges_product: product %}
      </div>
    {% endif %}
  </div>

  {% comment %} Slider-specific elements {% endcomment %}
  <template>
    <div data-name="mobile-indicator" class="block lg:hidden py-l px-xl bg-page">
      {% render 'armament-scroll-bar' with item_count: media.size, parent: 'slider-engine', target: 'slider', indicator: 'progress' %}
    </div>
  </template>
</slider-engine>

<script src="{{ 'engine-slider.min.js' | asset_url }}" defer="defer" type="module"></script>
