<section class="text-body bg-page theme-section-padding" data-color-scheme="{{ section.settings.section_color_scheme }}">
  {%- liquid
      case section.settings.text_alignment
        when 'center'
          assign text_align_class = 'text-center'
          assign flex_align_class = 'justify-center'
        when 'right'
          assign text_align_class = 'text-right'
          assign flex_align_class = 'justify-end'
      endcase
      assign slides_classes = 'theme-slider-gap-x'
  -%}
  {% if section.settings.subheading != blank or section.settings.heading != blank %}
    <div class="max-w-content {{ text_align_class }}">
      {% if section.settings.subheading != blank %}
        {% render 'armament-heading' with tag: 'h4', heading_content: section.settings.subheading, heading_type: 'heading-4', data_aid: 'multi-collection-subheading' %}
      {% endif %}
      {% if section.settings.heading != blank %}
        {% render 'armament-heading' with tag: 'h2', heading_content: section.settings.heading, heading_type: 'section-heading', data_aid: 'multi-collection-heading' %}
      {% endif %}
    </div>
  {% endif %}

  {% comment %} You cannot access multi-collection array items by key... {% endcomment %}
  {% for multi_collection in section.settings.multi_collections %}
    {% liquid
      if forloop.index == 1
        assign id_1 = multi_collection.id
        assign collection_1 = multi_collection
      elsif forloop.index == 2
        assign id_2 = multi_collection.id
        assign collection_2 = multi_collection
      elsif forloop.index == 3
        assign id_3 = multi_collection.id
        assign collection_3 = multi_collection
      endif
    %}
  {% endfor %}

  {% if section.settings.multi_collections.count > 1 %}
    <multi-collections>
      <div class="flex flex-wrap max-w-content {{ flex_align_class }}" data-armada-selector="multi-collection-navigation">

        {% for multi_collection in section.settings.multi_collections %}
          {%- liquid
            if forloop.first
              assign nav_classes = 'opacity-100 pb-s'
            else
              assign nav_classes = 'after:scale-x-0 opacity-30 pb-s'
            endif

            assign button_content = 'Collection'

            if forloop.index == 1
              if collection_1
                assign button_content = collection_1.title
              endif
              if section.settings.heading_1 != blank
                assign button_content = section.settings.heading_1
              endif
            elsif forloop.index == 2
              if collection_2
                assign button_content = collection_2.title
              endif
              if section.settings.heading_2 != blank
                assign button_content = section.settings.heading_2
              endif
            elsif forloop.index == 3
              if collection_3
                assign button_content = collection_3.title
              endif
              if section.settings.heading_3 != blank
                assign button_content = section.settings.heading_3
              endif
            endif
          -%}
          {% render 'ship-in-section-navigation' with section_nav_block_id: multi_collection.id, section_nav_animation_type: 'on-page-navigation', has_bottom_border: false, section_nav_classes: nav_classes, section_nav_data_aid: 'multi-collection-nav-item', section_nav_heading_tag: 'h5', section_nav_heading_content: button_content, section_nav_index: forloop.index, section_nav_heading_line_height: 'leading-normal' %}
        {% endfor %}
      </div>
      <div data-armada-selector="collection-slider-container" class="grid grid-cols-1 grid-rows-1 max-w-content" data-aid="multi-collection-slider">
        <div data-block-id="{{ id_1 }}" data-block-visible="true" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid-on-scroll">
          {% assign heading_1 = section.settings.heading_1 | default: collection_1.title %}
          {% render 'flotilla-product-card-slider' with slider_collection: collection_1, section_blocks: section.blocks, heading: heading_1, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
        </div>
      </div>

      <template data-armada-selector="multi-collection-template">
        {% if collection_1 %}
          {% assign heading_1 = collection_1.title %}
          {% if section.settings.heading_1 != blank %}
            {% assign heading_1 = section.settings.heading_1 %}
          {% endif %}
          <div data-block-id="{{ id_1 }}" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid">
            {% render 'flotilla-product-card-slider' with slider_collection: collection_1, section_blocks: section.blocks, heading: heading_1, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>
        {% endif %}
        {% if collection_2 %}
          {% assign heading_2 = collection_2.title %}
          {% if section.settings.heading_2 != blank %}
            {% assign heading_2 = section.settings.heading_2 %}
          {% endif %}
          <div data-block-id="{{ id_2 }}" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid">
            {% render 'flotilla-product-card-slider' with slider_collection: collection_2, section_blocks: section.blocks, heading: heading_2, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>
        {% endif %}
        {% if collection_3 %}
          {% assign heading_3 = collection_3.title %}
          {% if section.settings.heading_3 != blank %}
            {% assign heading_3 = section.settings.heading_3 %}
          {% endif %}
          <div data-block-id="{{ id_3 }}" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid">
            {% render 'flotilla-product-card-slider' with slider_collection: collection_3, section_blocks: section.blocks, heading: heading_3, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>
        {% endif %}
      </template>
    </multi-collections>
    <safe-load-scripts>
      <script src="{{ 'component-multi-collections.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="multi-collections"></script>
    </safe-load-scripts>
  {% elsif section.settings.multi_collections.count == 1 %}
    <div data-armada-animation="grid-on-scroll">
      {% render 'flotilla-product-card-slider' with slider_collection: collection_1, section_blocks: section.blocks, heading: section.settings.heading_1, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
    </div>
  {% else %}
    {% comment %} PLACEHOLDER {% endcomment %}
    <multi-collections>
      <div class="flex flex-wrap max-w-content" data-armada-selector="multi-collection-navigation">
        {% assign placeholder_heading = 'Collection' %}
        <div class="w-full flex {{ flex_align_class }}">
          {% for placeholder_collection in (1..3) %}
            {%- liquid
              if forloop.first
                assign nav_classes = 'opacity-100 pb-s'
              else
                assign nav_classes = 'after:scale-x-0 opacity-30 pb-s'
              endif

              assign button_content = 'Collection'
              assign block_id = 'placeholder_' | append: forloop.index
            -%}
            {% render 'ship-in-section-navigation' with section_nav_block_id: block_id, section_nav_animation_type: 'on-page-navigation', has_bottom_border: false, section_nav_classes: nav_classes, section_nav_data_aid: 'multi-collection-nav-item', section_nav_heading_tag: 'h5', section_nav_heading_content: button_content, section_nav_index: forloop.index, section_nav_heading_line_height: 'leading-normal' %}
          {% endfor %}
        </div>

        {% if section.settings.heading_1 != blank %}
          {% assign placeholder_heading = section.settings.heading_1 %}
        {% endif %}
        <div data-armada-selector="collection-slider-container" class="grid grid-cols-1 grid-rows-1" data-aid="multi-collection-slider">
          <div data-block-id="placeholder_1" data-block-visible="true" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid-on-scroll">
            {% render 'flotilla-product-card-slider' with section_blocks: section.blocks, heading: placeholder_heading, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>
        </div>

        <template data-armada-selector="multi-collection-template">
          {% if section.settings.heading_2 == blank %}
            {% assign placeholder_heading = section.settings.heading_2 %}
          {% endif %}
          <div data-block-id="placeholder_2" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid">
            {% render 'flotilla-product-card-slider' with section_blocks: section.blocks, heading: placeholder_heading, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>

          {% if section.settings.heading_3 == blank %}
            {% assign placeholder_heading = section.settings.heading_3 %}
          {% endif %}
          <div data-block-id="placeholder_3" class="row-start-1 col-start-1 overflow-visible" data-armada-animation="grid">
            {% render 'flotilla-product-card-slider' with section_blocks: section.blocks, heading: placeholder_heading, visible_slides: section.settings.visible_products, product_limit: section.settings.products_per_collection, view_all_slide: true, block_index: 1, button_style: section.settings.button_style, product_card_alignment: section.settings.product_card_alignment, slides_classes: slides_classes %}
          </div>
        </template>
      </div>
    </multi-collections>
    <safe-load-scripts>
      <script src="{{ 'component-multi-collections.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="multi-collections"></script>
    </safe-load-scripts>

  {% endif %}
</section>

{% schema %}
{
  "name": "Multi-collections",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Show off your products"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Multi-collections"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "visible_products",
      "label": "Products visible (desktop)",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "products_per_collection",
      "label": "Products per collection",
      "min": 6,
      "max": 20,
      "step": 1,
      "default": 12
    },
    {
      "type": "radio",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "filled",
          "label": "Primary"
        },
        {
          "value": "outline",
          "label": "Secondary"
        }
      ],
      "default": "filled"
    },
    {
      "type": "collection_list",
      "id": "multi_collections",
      "label": "Collections",
      "limit": 3
    },
    {
      "type": "header",
      "content": "Tab headings"
    },
    {
      "type": "paragraph",
      "content": "If blank, the collection title will be used"
    },
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2"
    },
    {
      "type": "text",
      "id": "heading_3",
      "label": "Heading 3"
    },
    {
      "type": "header",
      "content": "Product cards"
    },
    {
      "type": "select",
      "id": "product_card_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "view_details_quick_add",
      "name": "View details/Quick add",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "View details"
        },
        {
          "type": "checkbox",
          "id": "enable_view_details",
          "label": "Enable \'View details\'",
          "default": true,
          "info": "Move this block above blocks you would like to show under \'View details\'"
        },
        {
          "type": "checkbox",
          "id": "view_details_open",
          "label": "Expand \'View details\' by default",
          "info": "This will decide the default view when the page first loads",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "view_details_open_all",
          "label": "Link all 'View details' buttons",
          "info": "Clicking 'View details'/'Hide details' will show/hide details for all products",
          "default": true
        },
        {
          "type": "header",
          "content": "Quick add"
        },
        {
          "type": "checkbox",
          "id": "show_quick_add",
          "label": "Show \'Quick add\' button",
          "default": false
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "product_cards_aspect_ratio",
          "label": "Aspect ratio",
          "default": "tall",
          "options": [
            {
              "value": "natural",
              "label": {
                "en": "Natural",
                "fr": "Naturel",
                "de": "Natürlich",
                "es": "Natural",
                "pt-PT": "Natural"
              }
            },
            {
              "value": "square",
              "label": {
                "en": "Square (1:1)",
                "fr": "Carré (1: 1)",
                "de": "Quadrat (1:1)",
                "es": "Cuadrado (1:1)",
                "pt-PT": "Quadrado (1:1)"
              }
            },
            {
              "value": "tall",
              "label": {
                "en": "Tall (2:3)",
                "fr": "Grand (2: 3)",
                "de": "Groß (2:3)",
                "es": "Vertical (2:3)",
                "pt-PT": "Estreito (2:3)"
              }
            },
            {
              "value": "wide",
              "label": {
                "en": "Wide (4:3)",
                "fr": "Large (4: 3)",
                "de": "Weit (4:3)",
                "es": "Ancho (4:3)",
                "pt-PT": "Largo (4:3)"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "product_cards_crop_position",
          "label": "Crop position",
          "info": "Applies to all aspect ratios apart from \'Natural\'",
          "options": [
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-left",
              "label": "Left"
            },
            {
              "value": "object-left-top",
              "label": "Left top"
            },
            {
              "value": "object-left-bottom",
              "label": "Left bottom"
            },
            {
              "value": "object-right",
              "label": "Right"
            },
            {
              "value": "object-right-top",
              "label": "Right top"
            },
            {
              "value": "object-right-bottom",
              "label": "Right bottom"
            },
            {
              "value": "object-top",
              "label": "Top"
            },
            {
              "value": "object-bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "collection_hover_effect",
          "label": "Image hover effect",
          "options": [
            {
              "value": "show_second_image",
              "label": "Show second image"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "show_second_image"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        
      ]
    },
    {
      "type": "swatch",
      "name": "Swatches",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "touch_size",
          "label": "Swatch size",
          "options": [
            {
              "value": "36",
              "label": "Small"
            },
            {
              "value": "44",
              "label": "Large"
            }
          ],
          "default": "36"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "specifications",
      "name": "Specifications",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create [product metafields](/admin/metafields/product/create) with a namespace of “specifications”. Use any name for the key, this will be used for your label. We support all ‘Measurement’, ‘Text’ and ‘Rating’ content types. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283331726865)"
        },
        {
          "type": "text",
          "id": "spec-keys",
          "label": "Metafield keys",
          "info": "Add the specification metafield keys, separated with commas (E.g. height,width,depth)."
        }
      ]
    },
    {
      "type": "icon-and-text",
      "name": "Icons with text",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “icons-with-text” and the key “icons-with-text”. This needs to be a \‘file\’ content type with the \‘List of files\’ setting and alt tags assigned to the image. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8388599633553)"
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "Icon size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        }
      ]
    },
    {
      "type": "local-pickup-availability",
      "name": "Local pickup availability",
      "limit": 1
    },
    {
      "type": "icon-list",
      "name": "Icon list",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “icon” and the key “list”. This needs to be a ‘file’ content type with the ‘List of values’ setting. [Learn more](https://support.eightthemes.com/hc/en-us/articles/10615831834641)"
        }
      ]
    },
    {
      "type": "highlight",
      "name": "Highlights",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “highlights” and the key “list”. This needs to be a ‘single text’ content type with the ‘List of values’ setting. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283374569361)"
        }
      ]
    },
    {
      "type": "stock-level-indicator",
      "name": "Stock level indicator",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stock_range",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "Show low stock warning at",
          "default": 5,
          "info": "Product inventory must be tracked to use this functionality."
        },
        {
          "type": "checkbox",
          "id": "show_stock_count",
          "label": "Show stock level count",
          "default": true
        },
        {
          "type": "text",
          "id": "in_stock_message",
          "label": "In stock message",
          "default": "Ready to ship"
        },
        {
          "type": "text",
          "id": "low_stock_message",
          "label": "Low stock message",
          "default": "Selling fast"
        },
        {
          "type": "text",
          "id": "out_of_stock_message",
          "label": "Out of stock message",
          "default": "Back in soon"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add some text information"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews"
    }
  ],
  "presets": [
    {
      "name": "Multi-collections",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "title"
        },
        {
          "type": "price"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.announcement"
    ]
  }
}
{% endschema %}
