{% liquid
  assign newsletter_id = 'NewsletterForm--' | append: section.id
  assign label_text = 'newsletter.label' | t
  assign button_attributes = 'aria-label="' | append: section.settings.form_button_label | append: '"'
  assign login_form_heading = 'general.password_page.login_form_heading' | t

  assign form_classes = 'flex w-full lg:w-3/4 flex-nowrap justify-center max-w-full mx-auto'
  assign submit_btn_classes = 'inline-block py-[8px] w-1/5 md:w-[20%] 2xl:w-[10%] min-w-[fit-content] !h-auto'
  assign login_btn_classes = 'inline-block py-[8px] w-1/5 md:w-[20%] 2xl:w-[10%] min-w-[fit-content] !h-auto'

  assign overlay_color = section.settings.pwrd_overlay_color_scheme
  assign overlay_opacity = section.settings.pwrd_overlay_opacity | divided_by: 100.0
  assign color_with_opacity = overlay_color | color_modify: 'alpha', overlay_opacity

  if section.settings.pwrd_desktop_image != blank or section.settings.pwrd_mobile_image != blank
    assign overlay_bg = 'style="background-color:' | append: color_with_opacity | append: ';"'
  endif
%}

<password-login data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="bg-page text-body w-full h-full grid grid-cols-1 grid-rows-1 items-center justify-center no-js-hidden">

  {% if section.settings.pwrd_desktop_image != blank %}
    <div class="col-start-1 col-end-2 row-start-1 row-end-2 h-full w-full{% if section.settings.pwrd_mobile_image != blank %} hidden lg:block{% endif %}">
      {% render 'armament-image' with image: section.settings.pwrd_desktop_image, classes: 'h-full w-full object-cover', sizes: '100vw' %}
    </div>
  {% endif %}

  {% if section.settings.pwrd_mobile_image != blank %}
    <div class="col-start-1 col-end-2 row-start-1 row-end-2 h-full w-full lg:hidden">
      {% render 'armament-image' with image: section.settings.pwrd_mobile_image, classes: 'h-full w-full object-cover', sizes: '100vw' %}
    </div>
  {% endif %}

  <div data-armada-selector="signup_content" data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="text-body flex flex-col z-10 justify-center col-start-1 col-end-2 row-start-1 row-end-2 px-l lg:px-3xl py-xl lg:py-2xl h-full" {{ overlay_bg }} data-armada-animation="fade">
    <div class="justify-self-start flex flex-col justify-center items-center">
      {% render 'armament-logo' with logo_image: section.settings.header_logo, width_desktop: section.settings.logo_width_desktop, width_mobile: section.settings.logo_width_mobile, tag: 'h5', text_classes: 'text-h5', image_classes: 'mx-auto', text_classes: 'text-center', section_id: section.id %}
    </div>

    <div class="flex flex-col items-center justify-center h-full lg:w-2/4 mx-auto">
      {% if section.settings.pwrd_heading != blank %}
      <div class="text-center mb-l lg:mb-xl">
        {% render 'armament-heading' with tag: 'h2', heading_content: section.settings.pwrd_heading, heading_type: 'heading-3', classes: 'pb-0', data_aid: 'password-heading' %}
      </div>
      {% endif %}

      {% if section.settings.pwrd_text != blank %}
        <div class="text-center mb-l lg:mb-xl rte prose prose-strong:text-body prose-blockquote:text-body prose-figcaption:text-body">
          {{ section.settings.pwrd_text }}
        </div>
      {% endif %}

      {% if shop.password_message != blank %}
        <div class="text-center mb-l lg:mb-xl rte prose prose-strong:text-body prose-blockquote:text-body prose-figcaption:text-body">
          {{ shop.password_message }}
        </div>
      {% endif %}

      {% if section.settings.show_signup_form %}
        <div class="w-full flex items-center justify-center mb-xl">
          {% form 'customer', class: form_classes %}
            {% if form.errors %}
              <form-errors data-form-type="customer" data-form-name="Newsletter" data-errors='{{ form.errors | default_errors }}'></form-errors>
            {% endif %}
            {% if form.posted_successfully? %}
              <form-success data-message="{{ 'newsletter.success' | t }}"></form-success>
            {% endif %}
            {% render 'armament-input' with type: 'hidden', name: 'contact[tags]' %}
            {% assign email_placeholder = 'newsletter.newsletter_email' | t %}
            {% render 'armament-input' with name: 'contact[email]', type: 'email', value: form.email, id: newsletter_id, attributes: 'aria-required="true" aria-label="email" autocorrect="off" autocapitalize="off" autocomplete="email" required', classes: 'inline-block bg-transparent text-body border-body md:min-w-[200px] w-full', has_label: true, animate_label: true, label_text: label_text, placeholder: email_placeholder, data_aid: 'email-input' %}
            {% render 'armament-button' with content: section.settings.form_button_label, type: 'submit', attributes: button_attributes, classes: submit_btn_classes, loading: true, data_aid: 'newsletter_submit' %}
          {% endform %}
        </div>
      {% endif %}
    </div>

    <div class="text-center justify-self-end cursor-pointer" data-armada-selector="login_with_password" tabindex="0" aria-label="{{ 'general.password_page.login_password_button' | t }}" data-aid="enter-with-password-trigger" data-armada-animation="menu-link">
      {% assign heading_text = 'general.password_page.login_password_button' | t %}
      {% render 'armament-heading' with tag: 'h5', heading_type: 'heading-5', heading_content: heading_text %}
    </div>
  </div>

  <div data-armada-selector="login_content" data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="text-body flex flex-col opacity-0 justify-center col-start-1 col-end-2 row-start-1 row-end-2 px-l lg:px-3xl py-xl lg:py-2xl h-full" {{ overlay_bg }} data-armada-animation="fade">
    <div class="justify-self-start flex justify-center items-center">
      {% render 'armament-logo' with logo_image: section.settings.header_logo, width_desktop: section.settings.logo_width_desktop, width_mobile: section.settings.logo_width_mobile, tag: 'h5', text_classes: 'text-h5', image_classes: 'logo min-w-[50px] max-w-[160px] lg:min-w-[80px] lg:max-w-[270px]', section_id: section.id %}
    </div>

    <div class="flex flex-col items-center justify-center h-full lg:w-2/4 mx-auto">
      <div class="text-center mb-l lg:mb-xl">
        {% render 'armament-heading' with tag: 'h3', heading_type: 'heading-4', classes: 'pb-0', heading_content: login_form_heading %}
      </div>

      <div class="w-full flex items-center justify-center mb-l lg:mb-xl">
        {% form 'storefront_password', class: form_classes %}
          {% assign button_text = 'general.password_page.login_form_submit' | t %}
          {% assign login_button_attributes = 'aria-label="' | append: button_text | append: '"' %}
          {% assign input_attributes = 'autocomplete="current-password" required aria-label="password"' %}
          {% if form.errors %}
            {% assign input_attributes = 'autocomplete="current-password" required aria-invalid="true" aria-label="password"' %}
            <form-errors data-form-type="password" data-form-name="Password" data-errors='{{ 'general.password_page.login_form_error' | t }}'></form-errors>
          {% endif %}
          {% render 'armament-input' with name: 'password', type: 'password', id: 'Password', attributes: input_attributes, classes: 'inline-block bg-transparent text-body border-body md:min-w-[200px] w-full', has_label: true, label_class: 'hidden', label_text: label_text, data_aid: 'password-input' %}
          {% render 'armament-button' with content: button_text, type: 'submit', attributes: login_button_attributes, classes: login_btn_classes, loading: true, data_aid: 'password_login_submit' %}
        {% endform %}
      </div>

      <div class="text-center rte prose prose-strong:text-body prose-blockquote:text-body prose-figcaption:text-body mb-xl">
        {{ 'general.password_page.admin_link_html' | t }}
      </div>
    </div>

    <div class="text-center justify-self-end cursor-pointer flex items-center justify-center" data-armada-selector="return_to_signup" tabindex="0" aria-label="{{ 'general.password_page.return' | t }}" data-aid="return-to-signup" data-armada-animation="menu-link">
      <span class="mr-xs min-h-[18px]">{% render 'armament-icon' with icon: 'arrow-left' %}</span>
      {% assign heading_text = 'general.password_page.return' | t %}
      {% render 'armament-heading' with tag: 'h5', heading_type: 'heading-5', heading_content: heading_text, classes: '!pb-0' %}
    </div>
  </div>
</password-login>

<safe-load-scripts>
  <script src="{{ 'component-password-login.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="password-login"></script>
</safe-load-scripts>

<noscript>
  <div data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="bg-page text-body w-full h-full grid grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 items-center justify-center">

    {% if section.settings.pwrd_desktop_image != blank %}
      <div class="col-start-1 col-end-2 lg:col-end-3 row-start-1 row-end-3 lg:row-end-2 h-full w-full{% if section.settings.pwrd_mobile_image != blank %} hidden lg:block{% endif %}">
        {% render 'armament-image' with image: section.settings.pwrd_desktop_image, classes: 'h-full w-full object-cover', sizes: '100vw' %}
      </div>
    {% endif %}

    {% if section.settings.pwrd_mobile_image != blank %}
      <div class="col-start-1 col-end-2 lg:col-end-3 row-start-1 row-end-3 lg:row-end-2 h-full w-full lg:hidden">
        {% render 'armament-image' with image: section.settings.pwrd_mobile_image, classes: 'h-full w-full object-cover', sizes: '100vw' %}
      </div>
    {% endif %}

    <div data-armada-selector="signup_content" data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="text-body flex flex-col z-10 justify-center col-start-1 col-end-2 row-start-1 row-end-2 px-l lg:px-3xl py-xl lg:py-2xl h-full" {{ overlay_bg }}>
      <div class="justify-self-start flex justify-center items-center">
        {% render 'armament-logo' with logo_image: section.settings.header_logo, width_desktop: section.settings.logo_width_desktop, width_mobile: section.settings.logo_width_mobile, tag: 'h5', text_classes: 'text-h5', image_classes: 'logo min-w-[50px] max-w-[160px] lg:min-w-[80px] lg:max-w-[270px]', section_id: section.id %}
      </div>

      <div class="flex flex-col items-center justify-center w-full mx-auto">
        {% if section.settings.pwrd_heading != blank %}
        <div class="text-center mb-l lg:mb-xl">
          {% render 'armament-heading' with tag: 'h2', heading_content: section.settings.pwrd_heading, classes: 'pb-0', heading_type: 'heading-3', data_aid: 'password-heading' %}
        </div>
        {% endif %}

        {% if section.settings.pwrd_text != blank %}
          <div class="text-center mb-xl">
            {{ section.settings.pwrd_text }}
          </div>
        {% endif %}

        {% if section.settings.show_signup_form %}
          <div class="w-full flex items-center justify-center mb-xl">
            {% form 'customer', class: form_classes %}
              {% if form.errors %}
                <span>{{ form.errors | default_errors }}</span>
              {% endif %}
              {% if form.posted_successfully? %}
                <span>{{ 'newsletter.success' | t }}</span>
              {% endif %}
              {% render 'armament-input' with type: 'hidden', name: 'contact[tags]' %}
              {% render 'armament-input' with name: 'contact[email]', type: 'email', value: form.email, id: newsletter_id, attributes: 'aria-required="true" aria-label="email" autocorrect="off" autocapitalize="off" autocomplete="email" required', classes: 'inline-block bg-transparent text-body border-body min-w-[200px] w-full', has_label: true, label_class: 'hidden', label_text: label_text, data_aid: 'email-input' %}
              {% render 'armament-button' with content: section.settings.form_button_label, type: 'submit', attributes: button_attributes, classes: submit_btn_classes, loading: true, data_aid: 'newsletter_submit' %}
            {% endform %}
          </div>
        {% endif %}
      </div>
    </div>

    <div data-armada-selector="login_content" data-color-scheme="{{ section.settings.pwrd_background_color_scheme }}" class="text-body flex flex-col justify-center lg:col-start-2 lg:col-end-3 col-start-1 col-end-2 lg:row-start-1 lg:row-end-2 row-start-2 row-end-3 px-l lg:px-3xl py-xl lg:py-2xl h-full" {{ overlay_bg }}>
      <div class="justify-self-start flex justify-center items-center">
        {% render 'armament-logo' with logo_image: section.settings.header_logo, width_desktop: section.settings.logo_width_desktop, width_mobile: section.settings.logo_width_mobile, tag: 'h5', text_classes: 'text-h5', image_classes: 'logo min-w-[50px] max-w-[160px] lg:min-w-[80px] lg:max-w-[270px]', section_id: section.id %}
      </div>

      <div class="flex flex-col items-center justify-center w-full mx-auto">
        <div class="text-center mb-l lg:mb-xl">
          {% render 'armament-heading' with tag: 'h3', heading_type: 'heading-4', classes: 'pb-0', heading_content: login_form_heading %}
        </div>

        <div class="w-full flex items-center justify-center mb-l lg:mb-xl">
          {% form 'storefront_password', class: form_classes %}
            {% assign button_text = 'general.password_page.login_form_submit' | t %}
            {% assign login_button_attributes = 'aria-label="' | append: button_text | append: '"' %}
            {% assign input_attributes = 'autocomplete="current-password" required aria-label="password"' %}
            {% if form.errors %}
              {% assign input_attributes = 'autocomplete="current-password" required aria-invalid="true" aria-label="password"' %}
              <span>{{ 'general.password_page.login_form_error' | t }}</span>
            {% endif %}
            {% render 'armament-input' with name: 'password', type: 'password', id: 'Password', attributes: input_attributes, classes: 'inline-block bg-transparent text-body border-body min-w-[200px] w-full', has_label: true, label_class: 'hidden', label_text: label_text, data_aid: 'password-input' %}
            {% render 'armament-button' with content: button_text, type: 'submit', attributes: login_button_attributes, classes: login_btn_classes, loading: true, data_aid: 'password_login_submit' %}
          {% endform %}
        </div>

        <div class="text-center rte prose prose-strong:text-body prose-blockquote:text-body prose-figcaption:text-body">
          {{ 'general.password_page.admin_link_html' | t }}
        </div>
      </div>
    </div>
  </div>
</noscript>

{% schema %}
{
  "class": "w-full h-full",
  "name": "Password page",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width_desktop",
      "min": 80,
      "max": 270,
      "step": 10,
      "unit": "px",
      "label": "Logo width (desktop)",
      "default": 130
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 160,
      "step": 10,
      "unit": "px",
      "label": "Logo width (mobile)",
      "default": 100
    },
    {
      "type": "image_picker",
      "id": "pwrd_desktop_image",
      "label": "Background image (desktop)"
    },
    {
      "type": "image_picker",
      "id": "pwrd_mobile_image",
      "label": "Background image (mobile)"
    },
    {
      "type": "text",
      "id": "pwrd_heading",
      "label": "Heading",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "pwrd_text",
      "label": "Body text",
      "default": "<p>Use this text to give your customers details about your site’s opening. You can even collect email addresses to notify your customers on launch day.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_signup_form",
      "label": "Show signup form",
      "default": true
    },
    {
      "type": "text",
      "id": "form_button_label",
      "label": "Form button label",
      "default": "Subscribe"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "pwrd_background_color_scheme",
      "label": "Section color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "accent-1"
    },
    {
      "type": "select",
      "id": "pwrd_overlay_color_scheme",
      "label": "Overlay color scheme",
      "options": [
        {
          "value": "#FFFFFF",
          "label": "Light"
        },
        {
          "value": "#000000",
          "label": "Dark"
        }
      ],
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "pwrd_overlay_opacity",
      "label": "Overlay opacity",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50
    }
  ]
}
{% endschema %}