


{%- liquid

  assign interval = section.settings.slide-time | times: 1000
  assign enable_nav_elms = section.settings.enable_nav_elms

  case section.settings.horizontal_alignment
    when 'left'
      assign alignment = "md:items-start"
    when 'center'
      assign alignment = "md:items-center"
    when 'right'
      assign alignment = "md:items-end"
  endcase

  assign hide_nav = ''

  if enable_nav_elms == false
    assign hide_nav = ' hidden'
  endif

  case section.settings.desktop_height
    when 's'
      assign desktop_height = 'lg:h-[400px]'
    when 'm'
      assign desktop_height = 'lg:h-[550px]'
    when 'l'
      assign desktop_height = 'lg:h-[750px]'
    when 'xl'
      assign desktop_height = 'lg:h-screen'
  endcase

  case section.settings.mobile_height
    when 's'
      assign mobile_height = 'h-[350px] '
    when 'm'
      assign mobile_height = 'h-[400px] '
    when 'l'
      assign mobile_height = 'h-[500px] '
    when 'xl'
      assign mobile_height = 'h-screen '
  endcase

  assign section_heights = mobile_height | append: desktop_height
-%}

<slider-engine
mode="horizontal"
blocks="true"
class="block w-full relative overflow-hidden hover:overflow-visible focus-within:overflow-visible mb-2xl md:mb-0 {% if section.blocks.size > 0 %}shadow-lg md:shadow-none{% endif %}"
data-aid="slideshow"
data-name="scrollbar-target"
arrows="true"
visible-slides="1"
autoplay="true"
slide-duration="{{ interval }}"
loop="true"
data-slideshow="true"
>
<div data-name="slider-wrap" class="relative overflow-hidden">

  {% if section.blocks.size > 0 %}
      <ul
        data-name="slider"
        data-armada-animation="general"
        class="flex {{ section_heights }}"
      >

        {% for block in section.blocks %}
          {%- liquid
            assign buttons_enabled = false
            if block.settings.button_1_link != blank and block.settings.button_1_text != blank
              assign buttons_enabled = true
            endif

            if block.settings.button_2_link != blank and block.settings.button_2_text != blank
              assign buttons_enabled = true
            endif

            assign slideIsLink = false
            if buttons_enabled == false and block.settings.button_1_link != blank
              assign slideIsLink = true
            endif

            assign slideImageOnly = true
            if block.settings.heading_text != blank or buttons_enabled
              assign slideImageOnly = false
            endif

            assign opacity_value = block.settings.overlay_opacity | divided_by: 100.0
            assign overlay_opacity = 'style="opacity:' | append: opacity_value | append: ';"'
            assign overlay_style = block.settings.overlay_style
          -%}
          <li
            data-name="slide"
            slide-num="{{ forloop.index }}"
            class="w-full"
            data-aid="slide"
            data-color-scheme="{{ block.settings.color_scheme }}"
            data-slide-type="{{ block.type }}"
            {% if forloop.index == 1 %}data-slide-active="true"{% endif %}
            slideimageonly="{{ slideImageOnly }}"
            data-block-id="{{ block.id }}"
            aria-label="Slide {{ forloop.index }}, use the arrow keys to switch between the slideshow slides"
          >

          {% if slideIsLink %}
            <a href="{{ block.settings.button_1_link }}" aria-label="{% if block.settings.heading_text == blank %}{{ block.settings.button_1_link | split: '/' | last | replace: '-', ' ' | capitalize }}{% else %}{{ block.settings.heading_text }}{% endif %}" class="w-full">
          {% endif %}

            <div data-armada-selector="slide-img-container" class="{% unless slideImageOnly %}upto-md:grid grid-rows-1 w-full {% endunless %}w-[100vw] max-w-[100vw] relative {{ section_heights }}">

              <div
                data-aid="slide-imgs"
                class="relative {% if slideImageOnly %}h-full {% endif %}md:h-full w-full"
              >
                {% if block.settings.overlay_style != 'none' %}<div {{ overlay_opacity }} class="absolute h-full w-full {{ overlay_style }}"></div>{% endif %}
                {% liquid
                  assign attrs = 'data-armada-selector="slideshow-image"'
                  if block.settings.desktop_image != blank and block.settings.mobile_image != blank
                    render 'armament-image' with image: block.settings.desktop_image, classes: 'hidden md:block w-full h-full object-cover', attributes: attrs
                    render 'armament-image' with image: block.settings.mobile_image, classes: 'md:hidden block w-full h-full object-cover', attributes: attrs
                  elsif block.settings.desktop_image != blank and block.settings.mobile_image == blank
                    render 'armament-image' with image: block.settings.desktop_image, classes: 'object-cover h-full w-full', attributes: attrs
                  elsif block.settings.desktop_image == blank and block.settings.mobile_image != blank
                    render 'armament-placeholder' with name: 'lifestyle-2', classes: 'hidden md:block w-full', attributes: attrs
                    render 'armament-image' with image: block.settings.mobile_image, classes: 'md:hidden block w-full h-full', attributes: attrs
                  elsif block.settings.desktop_image == blank and block.settings.mobile_image == blank
                    render 'armament-placeholder' with name: 'lifestyle-2', classes: 'hidden md:block w-full h-full object-cover', attributes: attrs
                    render 'armament-placeholder' with name: 'collection-1', classes: 'md:hidden block w-full h-full object-cover', attributes: attrs
                  endif
                %}
              </div>

              {% assign width_minmax = 'md:min-w-[500px] md:max-w-[calc(100%-80px)]' %}

              <div
                {{ block.shopify_attributes }}
                data-aid="slide-content"
                class="relative upto-md:self-end upto-md:h-max md:absolute md:bottom-0 w-full flex flex-col {% unless slideImageOnly %}{{ alignment }}{% else %}md:items-center{% endunless %}"
              >

                {% if slideImageOnly == false %}

                  <div
                    data-name="slide-content"
                    data-armada-animation="grid-on-scroll"
                    class="relative overflow-hidden p-l md:py-xl md:px-2xl text-center bg-page {{ width_minmax }} flex flex-col justify-center md:mb-3xl md:mr-3xl md:ml-3xl"
                  >

                    {% if block.settings.heading_text != blank %}
                      {% assign heading_classes = 'text-body z-40' %}
                      {% render 'armament-heading' with tag: 'h3', heading_content: block.settings.heading_text, heading_type: 'heading-3', classes: heading_classes, data_aid: 'slide-heading', attributes: 'data-armada-animation="grid-item"' %}
                    {% endif %}

                    {%- liquid
                      if block.settings.button_2_link != blank and block.settings.button_2_text != blank
                        assign button_classes = 'mr-l md:mr-xl'
                      else
                        assign button_classes = 'mr-0'
                      endif
                    -%}

                    {% if buttons_enabled %}
                      <div class="flex flex-row justify-center" data-armada-animation="grid-item">
                        {% if block.settings.button_1_link != blank and block.settings.button_1_text != blank %}
                          {% render 'armament-button' with url: block.settings.button_1_link, content: block.settings.button_1_text, style: block.settings.button_1_style, classes: button_classes, data_aid: "slide-button-1", attributes: 'data-armada-selector="slideshow-button" tabindex="-1"' %}
                        {% endif %}

                        {% if block.settings.button_2_link != blank and block.settings.button_2_text != blank %}
                          {% render 'armament-button' with url: block.settings.button_2_link, content: block.settings.button_2_text, style: block.settings.button_2_style, data_aid: 'slide-button-2', attributes: 'data-armada-selector="slideshow-button" tabindex="-1"' %}
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>

                {% endif %}

              </div>

            </div>

          {% if slideIsLink %}
            </a>
          {% endif %}

          </li>
        {% endfor %}
      </ul>

  {% else %}
    <p class="p-l md:py-xl text-center">{{ 'general.onboarding.no_content' | t }}</p>
  {% endif %}

</div>

{% unless section.blocks.size < 2 %}
  <template>
    {% render 'armament-slider-arrows-condensed' with classes: 'group-hover:opacity-100 !absolute', reveal_on_hover: false, arrow_top_pos: 'upto-md:top-xl md:top-2xl', arrow_right_pos: 'upto-md:right-xl md:right-2xl', attributes: 'tabindex="-1"' %}
  </template>
{% endunless %}
</slider-engine>

<safe-load-scripts>
<script src="{{ 'engine-slider.min.js' | asset_url }}" defer="defer" type="module"></script>
</safe-load-scripts>

{% schema %}
{
"name": "Slideshow",
"max_blocks": 8,
"settings": [
  {
    "type": "range",
    "id": "slide-time",
    "min": 3,
    "max": 8,
    "step": 1,
    "unit": "sec",
    "label": "Slide timing",
    "default": 5
  },
  {
    "type": "select",
    "id": "desktop_height",
    "label": "Desktop height",
    "options": [
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      },
      {
        "value": "xl",
        "label": "Crop to fit screen"
      }
    ],
    "default": "xl"
  },
  {
    "type": "select",
    "id": "mobile_height",
    "label": "Mobile height",
    "options": [
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      },
      {
        "value": "xl",
        "label": "Crop to fit screen"
      }
    ],
    "default": "m"
  },
  {
    "type": "select",
    "id": "horizontal_alignment",
    "label": "Content position",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "center"
  },
  {
    "type": "checkbox",
    "id": "enable_nav_elms",
    "label": "Show navigation elements",
    "default": true
  }
],
"blocks": [
  {
    "type": "slide_with_box",
    "name": "Slide",
    "settings": [
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Desktop image",
        "info": "2000 x 900px recommended"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image (optional)",
        "info": "1400 x 1400px recommended"
      },
      {
        "type": "header",
        "content": "Text settings"
      },
      {
        "type": "textarea",
        "id": "heading_text",
        "label": "Heading",
        "default": "Make an impact with stunning images"
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "url",
        "id": "button_1_link",
        "label": "First button link",
        "default": "/collections/all",
        "info": "Becomes the slide link if both button labels are empty"
      },
      {
        "type": "text",
        "id": "button_1_text",
        "label": "First button label",
        "default": "Shop now"
      },
      {
        "type": "radio",
        "id": "button_1_style",
        "label": "First button style",
        "options": [
          {
            "value": "filled",
            "label": "Primary"
          },
          {
            "value": "outline",
            "label": "Secondary"
          }
        ],
        "default": "outline"
      },
      {
        "type": "url",
        "id": "button_2_link",
        "label": "Second button link",
        "default": "/collections/all"
      },
      {
        "type": "text",
        "id": "button_2_text",
        "label": "Second button label",
        "default": "Learn more"
      },
      {
        "type": "radio",
        "id": "button_2_style",
        "label": "Second button style",
        "options": [
          {
            "value": "filled",
            "label": "Primary"
          },
          {
            "value": "outline",
            "label": "Secondary"
          }
        ],
        "default": "filled"
      },
      {
        "type": "header",
        "content": "Color scheme"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "general",
            "label": "General"
          },
          {
            "value": "accent-1",
            "label": "Accent 1"
          },
          {
            "value": "accent-2",
            "label": "Accent 2"
          },
          {
            "value": "accent-3",
            "label": "Accent 3"
          }
        ],
        "default": "general"
      },
      {
        "type": "select",
        "id": "overlay_style",
        "label": "Overlay color scheme",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "bg-white",
            "label": "Light"
          },
          {
            "value": "bg-black",
            "label": "Dark"
          }
        ],
        "default": "none"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 50
      }
    ]
  }
],
"presets": [
  {
    "name": "Slideshow",
    "settings": {
    },
    "blocks": [
      {
        "type": "slide_with_box"
      },
      {
        "type": "slide_with_box"
      }
    ]
  }
],
"disabled_on": {
  "groups": [
    "header",
    "footer",
    "custom.announcement",
    "custom.overlay"
  ]
}
}
{% endschema %}