{%- liquid
  assign matchingColorSchemes = false

  if section.settings.bg_color_scheme == section.settings.content_color_scheme
    assign matchingColorSchemes = true
  endif
-%}

<section data-color-scheme="{{ section.settings.bg_color_scheme }}" class="bg-page w-full theme-section-padding" data-aid="image-with-text-section">
  <div class="max-w-content flex flex-col md:gap-xl {{ section.settings.image_position }}">

    <div class="{% if section.settings.image == blank %}bg-white {% endif %}w-full md:w-1/2 overflow-hidden text-body" data-aid="image-with-text--image-wrapper">
      {% if section.settings.image != blank %}
        <div class="h-full" data-armada-animation="image-load-on-scroll">
          {% render 'armament-image' with image: section.settings.image, classes: "w-full h-full object-cover" %}
        </div>
      {% else %}
        {% render 'armament-placeholder' with name: 'collection-2' %}
      {% endif %}
    </div>

    <div
      data-color-scheme="{{ section.settings.content_color_scheme }}"
      class="bg-page text-body w-full md:w-1/2 relative{% unless matchingColorSchemes %} pb-xl md:p-2xl{% endunless %}"
      data-aid="image-with-text--text-wrapper"
      data-armada-animation="grid-on-scroll"
    >
    {% if section.blocks.size > 0 %}
      <div class="relative h-full pt-11 md:pt-0">
        <div class="flex h-full items-center{% if section.blocks.size > 1 %} pb-xl md:pb-2xl{% endif %}">
          <slider-engine
            mode="horizontal"
            blocks="true"
            mobile-indicator="true"
            class="h-full block overflow-hidden"
            data-aid="image-with-text--text-slider"
            data-name="scrollbar-target"
            arrows="true"
            visible-slides="1"
            tabindex="0"
          >
            <div
              data-name="slider-wrap"
              class="h-full overflow-hidden"
            >

              <ul
                data-name="slider"
                data-aid="image-with-text--text-slider"
                data-armada-animation="general"
                data-color-scheme="{{ section.settings.content_color_scheme }}"
                class="h-full flex"
                role="list"
              >
                {% for block in section.blocks %}
                  <li
                    data-name="slide"
                    class="h-full flex flex-col justify-center min-w-full relative{% unless matchingColorSchemes %} px-xl md:px-2xl{% endunless%}"
                    data-aid="image-with-text--text-slide" {{ block.shopify_attributes }}
                    data-armada-animation="grid-item"
                    slide-num="{{ forloop.index }}"
                  >
                      {% liquid
                        if block.settings.subheading != blank
                          if block.settings.heading == blank and block.settings.body_text == blank 
                            assign subheading_classes = 'pb-0 break-words'
                          else
                            assign subheading_classes = 'pb-s break-words'
                          endif

                          render 'armament-heading' with tag: 'h4', heading_content: block.settings.subheading, heading_type: 'heading-4', classes: subheading_classes, data_aid: 'image-with-text--subheading'
                        endif

                        if block.settings.heading != blank
                          if block.settings.body_text == blank 
                            assign heading_classes = 'pb-0 break-words'
                          else
                            assign heading_classes = 'pb-s break-words'
                          endif

                          render 'armament-heading' with tag: 'h3', heading_content: block.settings.heading, heading_type: 'heading-3', classes: heading_classes, data_aid: 'image-with-text--heading'
                        endif
                      %}

                      {% if block.settings.body_text != blank %}  
                        <div class="break-words">{{ block.settings.body_text }}</div>
                      {% endif %}

                      {% liquid
                        if block.settings.button_link != blank and block.settings.button_text != blank
                          render 'armament-button' with url: block.settings.button_link, content: block.settings.button_text, style: block.settings.button_style, classes: "mt-l md:mt-xl leading-none", data_aid: "image-with-text--button"
                        endif
                      %}
                  </li>
                {% endfor %}
              </ul>
            </div>

            {% capture svg_colors %}data-color-scheme="{{ section.settings.bg_color_scheme }}"{% endcapture %}
            <template>
              {%- liquid
                if matchingColorSchemes 
                  assign arrow_top_pos = 'top-[2px] md:-top-xs'
                  assign arrow_right_pos = '-right-xs'
                endif
              -%}
              {% render 'armament-slider-arrows-condensed' with attributes: svg_colors, classes: '!absolute', arrow_top_pos: arrow_top_pos, arrow_right_pos: arrow_right_pos %}
              <div data-name="mobile-indicator" class="block h-xs w-full absolute bottom-0{% unless matchingColorSchemes %} px-xl md:px-2xl{% endunless %}">
                {% render 'armament-scroll-bar' with classes: "bg-page", item_count: section.blocks.size, parent: 'slider-engine', target: 'slider', indicator: 'progress' %}
              </div>
            </template>
          </slider-engine>
        </div>
      </div>
    {% else %}
      <div class="col-start-1 col-end-2 col-span-2 flex justify-center items-center">
        <p class="text-center" data-aid="image-with-text--onboarding-text">{{ 'general.onboarding.no_content' | t }}</p>
      </div>
    {% endif %}
    </div>

  </div>
</section>

<safe-load-scripts>
  <script src="{{ 'engine-slider.min.js' | asset_url }}" defer="defer" type="module"></script>
</safe-load-scripts>

{% schema %}
{
  "name": "Image with text",
  "class": "w-full",
  "settings": [
    {
      "type": "radio",
      "id": "image_position",
      "label": "Image position (desktop)",
      "options": [
        {
          "value": "md:flex-row",
          "label": "Left"
        },
        {
          "value": "md:flex-row-reverse",
          "label": "Right"
        }
      ],
      "default": "md:flex-row"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "bg_color_scheme",
      "label": "Background color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    },
    {
      "type": "select",
      "id": "content_color_scheme",
      "label": "Card color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "accent-1"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text slide",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "textarea",
          "id": "body_text",
          "label": "Body text",
          "default": "Use text slides, paired with a large image to create a captivating brand story, explain details of your products, or even provide reviews."
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "radio",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "filled",
              "label": "Primary"
            },
            {
              "value": "outline",
              "label": "Secondary"
            }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "settings": {
      },
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay",
      "custom.announcement"
    ]
  }
}
{% endschema %}
