<section class="text-body bg-page w-full theme-section-padding" data-color-scheme="{{ section.settings.section_color_scheme }}" data-aid="rich-text-ship">
  <div class="{% if section.settings.section_width == 'narrow' %}max-w-content {% endif %}{{ section.settings.horizontal_alignment }}">

    {% for block in section.blocks %}
      {% case block.type %}

        {% when "subheading" %}
          {% unless block.settings.subheading == blank %}
            <div class="pb-s last:pb-0" {{ block.shopify_attributes }}>
              {% render 'armament-heading' with tag: 'h4', heading_type: 'section-subheading', heading_content: block.settings.subheading, classes: '!pb-0' data-aid: 'rich-text-subheading' %}
            </div>
          {% endunless %}

        {% when "heading" %}
          {% unless block.settings.heading == blank %}
            <div class="pb-l md:pb-xl last:pb-0" {{ block.shopify_attributes }}>
              {% render 'armament-heading' with tag: 'h2', heading_type: 'section-heading', heading_content: block.settings.heading, classes: '!pb-0' data-aid: 'rich-text-heading' %}
            </div>
          {% endunless %}

        {% when "text" %}
          {% unless block.settings.text == blank %}
            {%- liquid
              case section.settings.horizontal_alignment
                when 'text-left justify-start'
                  assign align = 'left'
                when 'text-center justify-center'
                  assign align = 'center'
                when 'text-right justify-end'
                  assign align = 'right'
              endcase
            -%}
            <div class="pb-l md:pb-xl last:pb-0" {{ block.shopify_attributes }}>
              {% render 'armament-rich-text' with content: block.settings.text, align: align %}
            </div>
          {% endunless %}

        {% when "buttons" %}
        <div class="pb-l md:pb-xl last:pb-0" {{ block.shopify_attributes }}>
          <div class="flex flex-col {{ section.settings.horizontal_alignment }} md:flex-row space-y-l space-x-0 md:space-x-xl md:space-y-0">
            {% if block.settings.button_1_text != blank %}
              {% render 'armament-button' with url: block.settings.button_1_link, content: block.settings.button_1_text, style: block.settings.button_1_style, classes: 'w-full md:w-auto', type: 'button', data_aid: 'rich-text-button-1' %}
            {% endif %}

            {% if block.settings.button_2_text != blank %}
              {% render 'armament-button' with url: block.settings.button_2_link, content: block.settings.button_2_text, style: block.settings.button_2_style, classes: 'w-full md:w-auto', type: 'button', data_aid: 'rich-text-button-2' %}
            {% endif %}
          </div>
        </div>

      {% endcase %}
    {% endfor %}

  </div>
</section>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "full-with-padding",
          "label": "Full width with padding"
        },
        {
          "value": "narrow",
          "label": "Narrow"
        }
      ],
      "default": "full-with-padding"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "text-left justify-start",
          "label": "Left"
        },
        {
          "value": "text-center justify-center",
          "label": "Center"
        },
        {
          "value": "text-right justify-end",
          "label": "Right"
        }
      ],
      "default": "text-center justify-center"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Captivate customers with"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Rich text"
        }
      ]
    },
    {
      "type": "text",
      "name": "Body text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Use this text to share information about your brand. Describe a product, show store announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "button_1_link",
          "label": "First button link"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "First button label",
          "default": "Shop now"
        },
        {
          "type": "radio",
          "id": "button_1_style",
          "label": "First button style",
          "options": [
            {
              "value": "filled",
              "label": "Primary"
            },
            {
              "value": "outline",
              "label": "Secondary"
            }
          ],
          "default": "outline"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Second button link"
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Second button label",
          "default": "Learn more"
        },
        {
          "type": "radio",
          "id": "button_2_style",
          "label": "Second button style",
          "options": [
            {
              "value": "filled",
              "label": "Primary"
            },
            {
              "value": "outline",
              "label": "Secondary"
            }
          ],
          "default": "filled"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "settings": {
      },
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay",
      "custom.announcement"
    ]
  }
}
{% endschema %}
