{% if cart != empty %}
  {% for item in cart.items %}
    <div data-armada-selector="toast-cart-item--{{ item.id }}--{{ item.selling_plan_allocation.selling_plan.id }}">
      <div class="hidden md:flex mb-xl">
        {% if item.image %}
          {% render 'armament-thumbnail' with url: item.image, alt: item.image.alt, class: 'mr-l', width: 100 %}
        {% endif %}
        <div>
          {% render 'armament-heading' with tag: 'h3', heading_type: 'heading-6', heading_content: item.product.title %}

          {% if item.product.has_only_default_variant == false %}
          <p>{{ item.variant.title }}</p>
          {% endif %}

          {% render 'armament-price' with manual_price: item.final_price, manual_compare_at_price: item.original_price, cart_line_item: item, price_product: false, discount_type: settings.show_discount_savings %}

          {% if item.selling_plan_allocation %}
            <p>{{ item.selling_plan_allocation.selling_plan.name }}<p>
          {% endif %}

          {% if item.properties != empty %}
            {% for property in item.properties %}
              <p>
                {{ property.first }}:
                {% if property.last contains '/uploads/' %}
                  <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                {% else %}
                  {{ property.last }}
                {% endif %}
              </p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
