{% assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true %}

{% if pick_up_availabilities.size > 0 %}
  <pickup-availability-preview class="flex bg-page text-body mb-l md:mb-xl">
    {%- liquid
      assign closest_location = pick_up_availabilities.first

      if closest_location.available
        render 'armament-icon' with icon: 'tick', classes: 'mr-s mt-[2px] md:mt-xs'
      else
        render 'armament-icon' with icon: 'exclamation', classes: 'mr-xs mt-[2px] md:mt-xs shrink-0'
      endif
    -%}

    <div>
      {% if closest_location.available %}
        <p class="text-b1 mb-s">{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}</p>
        <p class="text-b1 mb-s">{{ closest_location.pick_up_time }}</p>
        <armada-modal-open data-modal-id="pickup-availability">
          <button class="underline underline-offset-4 text-b1 pb-0" data-armada-animation="text">
            {% if pick_up_availabilities.size == 1 %}
              {{ 'products.product.pickup_availability.view_store_info' | t }}
            {% else %}
              {{ 'products.product.pickup_availability.check_other_stores' | t }}
            {% endif %}
          </button>
        </armada-modal-open>
      {% else %}
        <p class="text-b1 mb-s">{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}</p>
        {% if pick_up_availabilities.size > 1 %}
          <armada-modal-open data-modal-id="pickup-availability">
            <button class="underline underline-offset-4 text-b1 pb-0" data-armada-animation="text">{{ 'products.product.pickup_availability.check_other_stores' | t }}</button>
          </armada-modal-open>
        {% endif %}
      {% endif %}
    </div>

    <armada-modal
      data-modal-id="pickup-availability"
      data-modal-dismissable="true"
      data-modal-underlay-classes="bg-black opacity-60"
      data-color-scheme="general"
      class="invisible opacity-0"
    >
      <div
        class="p-xl bg-page text-body"
      >
        {% render 'armament-heading' with tag: 'h2', heading_content: product_variant.product.title, heading_type: 'heading-5', attributes: 'id="PickupAvailabilityHeading"' %}

        {% unless product_variant.product.has_only_default_variant %}
          <p class="mb-l">
            {% for product_option in product_variant.product.options_with_values %}
              {{ product_option.name | escape }}:&nbsp;
              {% for value in product_option.values %}
                {% if product_option.selected_value == value %}
                  <span>{{ value | escape }}</span>
                {% endif %}
              {% endfor %}
              {% unless forloop.last -%},&nbsp;{%- endunless forloop.last %}
            {% endfor %}
          </p>
        {% endunless %}

        <ul role="list" data-store-availability-drawer-content class="border-t border-t-theme">
          {% for availability in pick_up_availabilities %}
            <li class="py-l border-b border-b-theme">
              <h3 class="mb-s">{{ availability.location.name | escape }}</h3>
              <p class="flex text-xs md:text-[14px] mb-s">
                {% if availability.available %}
                  {% render 'armament-icon' with icon: 'tick', classes: 'mr-s mt-xs' %} {{ 'products.product.pickup_availability.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
                {% else %}
                  {% render 'armament-icon' with icon: 'error', classes: 'mr-s mt-xs' %} {{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: availability.location.name }}
                {% endif %}
              </p>

              {% assign address = availability.location.address %}
              <address class="not-italic text-xs">
                {{ address | format_address }}

                {% if address.phone.size > 0 %}
                  <p>{{ address.phone }}</p>
                {% endif %}
              </address>
            </li>
          {% endfor %}
        </ul>
      </div>
    </armada-modal>
    <safe-load-scripts>
      <script src="{{ 'engine-modal-open.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="modal-open"></script>
      <script src="{{ 'engine-modal.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="modal"></script>
    </safe-load-scripts>
  </pickup-availability-preview>
{% endif %}
